body {
  margin: 0;
  text-align: center;
  background-image: url("https://cnet2.cbsistatic.com/img/3nl-ITArim3fXa0_R0-XZgc2_K8=/2018/08/17/9da8de5b-ec92-4f5a-9e83-626158f714f4/hubble-bubble.png");
  color: yellow;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  color: #66BFBF;
  font-family: 'Swanky and Moo Moo', cursive;
}

h1:hover {
  color: blue;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  color: #66BFBF;
  font-size: 2.5rem;
}

h2:hover {
  color: blue;
}

h3 {
  font-family: 'Orbitron', sans-serif;
  color: #11999E;
}

h3:hover {
  color: white;
}

p {
  color: white;
  font-family: 'Orbitron', sans-serif;
}

p:hover {
  color: blue;
}

.pro {
  text-decoration: underline;
  color: yellow;
  font-family: 'Orbitron', sans-serif;
}

.star1 {
  position: fixed;
  top: 7%;
  right: 18%;
}

.star2 {
  position: fixed;
  left: 18%;
  top: 7%;
}

.top-container {
  position: relative;
  padding: 15px;
  line-height: 2;
}

/*middle-container{


}

*/
/*bottom-container{
  position: absolute;

}*/
.keywords {
  margin: 100px auto 100px auto;
  font-size: 1.5rem;
  color: silver;
}

.skills {
  margin: 0 auto 0 auto;
  margin-bottom: 100px;
}

hr {
  border-style: none;
  border-top-style: dashed;
  border-width: 10px;
  width: 50%;
  color: purple;
}

hr:hover {
  color: white;
}

.planet {
  padding: 100px;
}

.rocket {
  margin-top: 100px;
  width: 50%;
}

.contact {
  color: white;
  margin-top: 0px;
}

.footer-link {
  color: #11999E
}

.subtitle {
  font-weight: normal;
}

.optimize {
  margin-top: 100px;
}

.profile {
  margin-left: 30%;
  margin-right: 40%;
  text-align: left;
  line-height: 2;
  margin-bottom: 200px;
}

.picture {
  width: 55%;
  border-radius: 100%;
  float: left;
  padding: 20px;
}

.nice {
  position: relative;
  top: 80px;
  left: 30px;
}

.middle2 {
  margin-left: 30%;
  margin-right: 40%;
  margin-top: 100px;
  text-align: right;
  line-height: 2;
  margin-bottom: 100px;
}

.cute {
  float: right;
}

.peeps {
  clear: right;
  position: relative;
  top: 30px;
}

.bottom-container {

  background-image: url("https://wallpapercave.com/wp/wp3013836.jpg");
  position: relative;
  height: 200px;
  width: 100%;


}

.btn {
  margin-top: 20px;

}


.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 30px 20px 30px;
  text-decoration: none;
  position: relative;
  top: 30px;
}

.btn:hover {
  background: #330e3cb;
  background-image: -webkit-linear-gradient(top, #330e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #330e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #330e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #330e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #330e3cb, #2bc4ad);
  text-decoration: none;
}
.bth {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 30px 20px 30px;
  text-decoration: none;
  position: relative;
  top: 0px;

}

.bth:hover {
  background: #330e3cb;
  background-image: -webkit-linear-gradient(top, #330e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #330e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #330e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #330e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #330e3cb, #2bc4ad);
  text-decoration: none;
}

.rights{
  position: relative;
  top: 20%;
}
